# This notebook is to prepare data for ISYE6740 project, 2020 Summer

## Georgia Institute of Technology

In [18]:
#setup
import pandas as pd
import numpy as np

var_list = pd.read_csv('list_of_variables.txt')
var_list.head()

,Data variable,Description,Group
0,Jan Precipitation / inch,Precipitation/inch in the month of Jan for 2019,Climate
1,Feb Precipitation / inch,Precipitation/inch in the month of Feb for 2019,Climate
2,Mar Precipitation / inch,Precipitation/inch in the month of Mar for 2019,Climate
3,Apr Precipitation / inch,Precipitation/inch in the month of Apr for 2019,Climate
4,May Precipitation / inch,Precipitation/inch in the month of May for 2019,Climate

In [19]:
var_list.Group.unique()

array(['Climate', 'Demographics', 'Education',
       'Employment and median household income', 'Ethnicity',
       'Healthcare', 'Housing', 'Identifying Variables',
       'Population Estimates', 'Transit Scores'], dtype=object)

In [20]:
#average temp

var_select = var_list[var_list.Group == 'Climate'].iloc[:, 0].unique()[12:24].tolist()

In [21]:
#print(var_list[var_list.Group == 'Demographics'].iloc[:, 0].unique())

#pick 

var_select.append('FIPS')
var_select.extend(('Density per square mile of land area - Population','Total_age0to17', 'Total_age85plusr','Total_age65plus' , 'Total_age18to64' ))

In [22]:
#print(var_list[var_list.Group == 'Education'].iloc[:, 0].unique())
var_select.extend(("Percent of adults with a bachelor's degree or higher 2014-18", 'Less than a high school diploma 2014-18'))

In [23]:
#print(var_list[var_list.Group == 'Employment and median household income'].iloc[:, 0].unique())
var_select.append("Unemployment_rate_2018")
var_select.append("Median_Household_Income_2018")

In [24]:
#print(var_list[var_list.Group == 'Healthcare'].iloc[:, 0].unique())
var_select.extend(('Active Physicians per 100000 Population 2018 (AAMC)', 
                 'MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC)', 'Total nurse practitioners (2019)',
                  'ICU Beds')  )

In [25]:
#print(var_list[var_list.Group == 'Transit Scores'].iloc[:, 0].unique())
var_select.append("transit_scores - population weighted averages aggregated from town/city level to county")

In [26]:
var_select

['Jan Temp AVG / F',
 'Feb Temp AVG / F',
 'Mar Temp AVG / F',
 'Apr Temp AVG / F',
 'May Temp AVG / F',
 'Jun Temp AVG / F',
 'Jul Temp AVG / F',
 'Aug Temp AVG / F',
 'Sep Temp AVG / F',
 'Oct Temp AVG / F',
 'Nov Temp AVG / F',
 'Dec Temp AVG / F',
 'FIPS',
 'Density per square mile of land area - Population',
 'Total_age0to17',
 'Total_age85plusr',
 'Total_age65plus',
 'Total_age18to64',
 "Percent of adults with a bachelor's degree or higher 2014-18",
 'Less than a high school diploma 2014-18',
 'Unemployment_rate_2018',
 'Median_Household_Income_2018',
 'Active Physicians per 100000 Population 2018 (AAMC)',
 'MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC)',
 'Total nurse practitioners (2019)',
 'ICU Beds',
 'transit_scores - population weighted averages aggregated from town/city level to county']

In [27]:
ga_counties  = pd.read_csv('counties.csv')

ga_counties = ga_counties[var_select]

ga_counties.head()

,Jan Temp AVG / F,Feb Temp AVG / F,Mar Temp AVG / F,Apr Temp AVG / F,May Temp AVG / F,Jun Temp AVG / F,Jul Temp AVG / F,Aug Temp AVG / F,Sep Temp AVG / F,Oct Temp AVG / F,...,Total_age18to64,Percent of adults with a bachelor's degree or higher 2014-18,Less than a high school diploma 2014-18,Unemployment_rate_2018,Median_Household_Income_2018,Active Physicians per 100000 Population 2018 (AAMC),MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Total nurse practitioners (2019),ICU Beds,transit_scores - population weighted averages aggregated from town/city level to county
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201336899.0,31.5,26948057,3.9,61937.0,NaN,NaN,165480.000000,NaN,NaN
1,46.06,55.57,54.56,63.26,73.92,77.8,80.4,80.34,79.93,67.48,...,NaN,24.9,470043,3.9,49881.0,217.1,49.1,2537.000000,NaN,NaN
2,47.00,58.60,56.10,65.00,75.50,79.3,81.5,81.80,81.60,69.30,...,33785.0,27.7,4204,3.6,59338.0,217.1,49.1,28.859137,6.0,0.0
3,52.00,62.00,59.70,66.00,76.50,81.3,82.5,82.50,82.10,72.30,...,126341.0,31.3,14310,3.6,57588.0,217.1,49.1,113.162114,51.0,368329051.0
4,49.00,58.50,57.40,64.90,75.20,79.6,81.3,81.10,80.60,70.90,...,14857.0,12.2,4901,5.2,34382.0,217.1,49.1,12.914231,5.0,0.0

In [28]:
metro = pd.read_csv('Georgia_metro.csv')

metro['fips code'] = metro['fips code'].apply(lambda x:x[:5] )

metro['fips code'] = metro['fips code'].apply(lambda x:int(x) )

ga_counties = ga_counties.merge(metro, right_on='fips code', left_on='FIPS')

In [29]:


#cases = pd.read_csv('georgia_case_death.csv')

cases = pd.read_csv('GA07_25.csv') #updated GA cases
cases = cases[cases['fips'].notna()]
cases = cases.drop(columns=['county','state'])
cases['fips'] = cases['fips'].apply(lambda x:int(x))

In [30]:
final = cases.merge(ga_counties, left_on = 'fips', right_on='FIPS')
final.head()

,date,fips,cases,deaths,Jan Temp AVG / F,Feb Temp AVG / F,Mar Temp AVG / F,Apr Temp AVG / F,May Temp AVG / F,Jun Temp AVG / F,...,Median_Household_Income_2018,Active Physicians per 100000 Population 2018 (AAMC),MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Total nurse practitioners (2019),ICU Beds,transit_scores - population weighted averages aggregated from town/city level to county,fips code,state,county,2013 NCHS scheme
0,7/25/20,13001,486,16,51.5,59.8,59.8,67.6,78.2,80.8,...,42781.0,228.7,28.6,8.471070,3.0,0.0,13001,GA,Appling County,Noncore
1,7/25/20,13003,264,2,51.3,60.5,59.6,67.0,77.4,80.5,...,36779.0,228.7,28.6,3.797723,0.0,0.0,13003,GA,Atkinson County,Noncore
2,7/25/20,13005,378,5,51.4,60.2,59.9,67.5,78.1,80.9,...,38775.0,228.7,28.6,5.119626,4.0,0.0,13005,GA,Bacon County,Noncore
3,7/25/20,13007,50,3,50.9,60.8,59.9,67.2,78.3,81.1,...,38288.0,228.7,28.6,1.415278,0.0,0.0,13007,GA,Baker County,Small metro
4,7/25/20,13009,822,37,48.0,55.2,56.0,63.6,75.8,78.5,...,42727.0,228.7,28.6,20.516494,12.0,0.0,13009,GA,Baldwin County,Micropolitan

In [31]:


cases_median = final["cases"].median()
deaths_median = final["deaths"].median()

def highrisk_cases(x):
    if x > cases_median:
        return 1
   
    else: return 0
    
def highrisk_deaths(x):
    if x > deaths_median:
        return 1
   
    else: return 0

In [32]:
final['High_risk_by_deaths'] = final["deaths"].apply(highrisk_deaths)
final['High_risk_by_cases'] = final["cases"].apply(highrisk_cases)

In [33]:
final.to_csv('ga_county_covid.csv')

In [34]:
#final

,date,fips,cases,deaths,Jan Temp AVG / F,Feb Temp AVG / F,Mar Temp AVG / F,Apr Temp AVG / F,May Temp AVG / F,Jun Temp AVG / F,...,MD and DO Student Enrollment per 100000 Population AY 2018-2019 (AAMC),Total nurse practitioners (2019),ICU Beds,transit_scores - population weighted averages aggregated from town/city level to county,fips code,state,county,2013 NCHS scheme,High_risk_by_deaths,High_risk_by_cases
0,7/25/20,13001,486,16,51.5,59.8,59.8,67.6,78.2,80.8,...,28.6,8.471070,3.0,0.0,13001,GA,Appling County,Noncore,1,1
1,7/25/20,13003,264,2,51.3,60.5,59.6,67.0,77.4,80.5,...,28.6,3.797723,0.0,0.0,13003,GA,Atkinson County,Noncore,0,0
2,7/25/20,13005,378,5,51.4,60.2,59.9,67.5,78.1,80.9,...,28.6,5.119626,4.0,0.0,13005,GA,Bacon County,Noncore,0,1
3,7/25/20,13007,50,3,50.9,60.8,59.9,67.2,78.3,81.1,...,28.6,1.415278,0.0,0.0,13007,GA,Baker County,Small metro,0,0
4,7/25/20,13009,822,37,48.0,55.2,56.0,63.6,75.8,78.5,...,28.6,20.516494,12.0,0.0,13009,GA,Baldwin County,Micropolitan,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,7/25/20,13313,2571,22,42.1,50.1,50.1,61.8,72.2,75.1,...,28.6,47.631515,34.0,0.0,13313,GA,Whitfield County,Small metro,1,1
155,7/25/20,13315,151,18,50.6,58.8,58.1,66.6,77.5,80.3,...,28.6,4.033450,0.0,0.0,13315,GA,Wilcox County,Noncore,1,0
156,7/25/20,13317,161,3,45.3,51.8,53.9,63.4,74.6,75.7,...,28.6,4.520467,0.0,0.0,13317,GA,Wilkes County,Noncore,0,0
157,7/25/20,13319,155,10,48.7,56.0,56.4,64.8,76.4,78.9,...,28.6,4.135980,0.0,0.0,13319,GA,Wilkinson County,Noncore,1,0
158,7/25/20,13321,397,23,50.4,59.7,58.6,66.5,77.0,80.2,...,28.6,9.291308,0.0,0.0,13321,GA,Worth County,Small metro,1,1

In [243]:
#cases

,date,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-06-27,13001,241,14,241,14,NaN,NaN
1,2020-06-27,13003,117,2,117,2,NaN,NaN
2,2020-06-27,13005,217,4,217,4,NaN,NaN
3,2020-06-27,13007,43,3,43,3,NaN,NaN
4,2020-06-27,13009,470,33,470,33,NaN,NaN
...,...,...,...,...,...,...,...,...
155,2020-06-27,13313,917,10,917,10,NaN,NaN
156,2020-06-27,13315,125,15,125,15,NaN,NaN
157,2020-06-27,13317,52,1,52,1,NaN,NaN
158,2020-06-27,13319,74,8,74,8,NaN,NaN
159,2020-06-27,13321,296,21,296,21,NaN,NaN

In [244]:
cases.cases.sum()

68073